---
# handlers file for optimize
- name: systemctl daemon-reexec
  shell: systemctl daemon-reexec

- name: restart sshd
  service:
    name: sshd
    state: restarted

- name: source /etc/profile
  shell: source /etc/profile

- name: restart chronyd
  service:
    name: chronyd
    state: restarted
    enabled: yes

- name: route flush
  sysctl:
    name: 'net.ipv4.route.flush'
    value: '1'
    state: present
    sysctl_set: yes
    reload: yes
